body {
    background-color: #83CBD9 !important;
    font-family: 'Lato', sans-serif !important;
}

.title {
    text-align: center;
    margin: 20px;
    color: #fff;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
}

.container {
    background-color: white;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 5px 15px 15px 15px;
    max-width: 500px !important;
}

/* ----- HEADER -----*/
.header {
    display: flex;
    flex-direction: row;
    height: 20px;
    margin: 15px 0px 10px 0px;
}

.time {
    /*display: inline-block;*/
    width: 50%;
    font-style: italic;
    font-size: 14px;
    margin: 0 auto;
}

.date {
    /*display: inline-block;*/
    width: 50%;
    text-align: right;
    font-style: italic;
    font-size: 14px;
}

hr {
    margin: 10px;
    width: 85%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}



/* ----- FORM ----- */
.add-item-input {
    /*text-align: center;*/

}
/*
.add-item-input form {
        display: block;
  margin-left: auto;
  margin-right: auto;
}


.add-item-input input {
    width: 60%;
}*/

.btn {
    background: linear-gradient(135deg, rgb(187, 223, 127) -20%, rgb(131, 203, 217) 165%);
}


/* ----- LIST ----- */
ul {
    list-style: none;
    padding: 0px;
}

li {
    display: flex;
    flex-direction: row;
}

.checkbox {
    width: 35px;
}

.list-item {

}

/* ----- CHECKBOXES -----*/
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #BBDF7F;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 4px;
  width: 7px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.delete-btn {
    /*background-color: #ededed;*/
    transition: all .6s ease;
    color: #ededed;
    font-weight: bold;
    width: 22px;
    height: 22px;
    margin-left: 10px;
    cursor: pointer;
}

.delete-btn:hover {
    color: #d1d1d1;

}

.check {
    text-decoration: line-through;
}

.uncheck {
    text-decoration: none;
}

/* ----- TRANSITIONS ----- */
/* defines the beginning state of the enter transition */
.fade-enter {
  opacity: 0.01;
  right: 100px;
}

/* defines the actual enter transition */
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
  right: 0px;
}

/* defines the beginning state of the leave transition */
.fade-leave {
  opacity: 1;
}

/* defines the actual leave transition */
.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}